* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    #ad5389,
    #3c1053
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.browser {
  display: flex;
  flex-direction: column;
  background: #c8c0ee;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  min-width: 50%;
  min-height: 80vh;
}

.tabs {
  flex-shrink: 1;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  padding-top: 10px;
  text-align: center;
  justify-content: space-between;
}

.tab {
  width: 33%;
  position: relative;
  background: #8568d3;
  min-width: 200px;
  font-size: 18px;
  font-weight: bolder;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 0.3s ease all;
  overflow: hidden;
  cursor: pointer;
}

.tab a {
  display: block;
  padding: 12px 25px;
  color: #060505;
  text-decoration: none;
}

.tab a.is-active {
  background: #5131a9;
  color: #eee;
}

.address-bar {
  background: #5533b3;
  padding: 8px;
}

.address-bar input {
  background: #3a2081;
  color: #eee;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 20px;
  font-size: 18px;
}

.viewport {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    #654ea3,
    #eaafc8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  flex: 1;
  /* flex-grow: 1; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}
.highlight {
  display: block;
  position: absolute;
  height: 80px;
  width: 300px;
  top: -10px;
  border-radius: 50%;
  transition: 0.3s ease all;
  opacity: 0.8;
  pointer-events: none;
  background: radial-gradient(red, rgb(237, 96, 35, 0));
}
